{% load i18n %}
<nav class="navbar navbar-default" role="navigation">
   <!-- Brand and toggle get grouped for better mobile display -->
   <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'landing' %}">{% trans "Wine Expert" %}</a>
   </div>
     <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
         <ul class="nav navbar-nav">
            <li><a href="{% url 'landing' %}">{% trans "Home" %}</a></li>
            <li><a href="{% url 'blog:index' %}">{% trans "Blog" %}</a></li>
            <li><a href="{% url 'corewine:list' %}">{% trans "Wine Directory" %}</a></li>
            <li><a href="{% url 'corewine:tasting' %}">{% trans "Tasting" %}</a></li>
         </ul>
         <ul class="nav navbar-nav navbar-right">
            <li>
               <form class="navbar-form navbar-right" action="{% url 'set_language' %}" method="post">
                  {% csrf_token %}
                  <div class="form-group">
                     <input name="next" type="hidden" value="{{ request.get_full_path }}" />
                     {% comment %}
                     si on decide d'ajouter la localisation d'url avec un /<language_code>/..., on doit utiler le code suivant:
                     <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
                     voir: http://stackoverflow.com/questions/18392405/issue-trying-to-change-language-from-django-template/18393243#18393243
                     le slice 3, sous-entend que le code de language contient 2 lettres
                     {% endcomment %}

                     <input name="language" type="hidden" value="fr" />
                     <button class="btn btn-xs btn-default" type="submit"/>Français</button>
                  </div>
               </form>
            </li>
            <li>
               <form class="navbar-form navbar-right" action="{% url 'set_language' %}" method="post">
                  {% csrf_token %}
                  <div class="form-group">
                     <input name="next" type="hidden" value="{{ request.get_full_path }}" />
                     <input name="language" type="hidden" value="en" />
                     <button class='btn btn-xs btn-default' type="submit"/>English</button>
                  </div>
               </form>
            </li>
         </ul>
        <!--  <form class="navbar-form" action="{% url 'corewine:list' %}" role="search" method="get">
            {% csrf_token %}
            <div class="form-group  col-lg-3">
                  <div class="input-group">
                     <input type="text" class="form-control" placeholder="{% trans 'Search' %}">
                     <div class="input-group-btn">
                        <button type="submit" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-search"></span><span class="caret"></span></button>
                        <ul class="dropdown-menu">
                           <li><a href="#">{% trans "Name" %}</a></li>
                           <li><a href="#">{% trans "Country" %}</a></li>
                           <li><a href="#">{% trans "Region" %}</a></li>
                           <li><a href="#">{% trans "Type" %}</a></li>
                           <li><a href="#">{% trans "Appelation" %}</a></li>
                           <li><a href="#">{% trans "Cepage" %}</a></li>
                           <li><a href="#">{% trans "Tag" %}</a></li>
                        </ul>
                     </div>
                     <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
               </div>                  
         </form> -->
      </div><!-- /.navbar-collapse -->
   </nav>