{% load i18n %}
{% load staticfiles %}
{% load less %}
<!DOCTYPE html>
<html>
<head>
   
   <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="{% static 'styles.less' %}" />
   {# <script src="{% static 'less-1.4.1.min.js' %}"></script> #}
     {% block  title %}<title>{% trans "Title" %}</title>{% endblock title %}
</head>

<body>
{% get_current_language as LANGUAGE_CODE %}
<!-- Current language: {{ LANGUAGE_CODE }} -->
   {% include '_navigation.html' %}
   {# {% include '_messages.html' %} #}
   {% if messages %}
   <ul class="messages">
      {% for message in messages %}
      <li id="message_{{ forloop.counter }}"{% if message.tags %} class="{{ message.tags }}"{% endif %}>
         {{ message }}
      </li>
      {% endfor %}
   </ul>
   {% endif %}
   <div class="row">

   	<div class="col-md-8 col-md-offset-2">
   	{% block main %}
   		a link to <a href="{% url 'corewine:index' %}">wine</a>
   	{% endblock main %}
   	</div>
   		
   </div>

   <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
   <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
   <script src="http://twitter.github.io/typeahead.js/releases/latest/typeahead.min.js"></script>
   <script src="http://twitter.github.com/hogan.js/builds/2.0.0/hogan-2.0.0.js"></script>
   <script src="{% static  'js/core.js' %}"></script>
   <script src="{% static  'js/jquery.cookie.js' %}"></script>
   <script src="{% static  'js/csrf.js' %}"></script>
   <script src="{% static  'js/forms.js' %}"></script>

</body>

</html>
