{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block javascript %}
	{{ block.super }}
	<script src="//codeorigin.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
    <script src="{% static 'js/jquery.ui.datepicker-fr.js' %}"></script>
    <script src="{% static  'js/selectize.min.js' %}"></script>
    <script src="{% static  'js/core.js' %}"></script>
{% endblock javascript %}

{% block main %}
<div class="row">
	<div class="col-lg-8 col-lg-offset-2">
		<h1>{% trans 'Tasting' %}</h1>
		{% crispy form %}
	</div>
</div>
{% endblock main %}


